.loadingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  svg {
    stroke: white;
    path {
      stroke: white;
      fill: white;
    }
  }

  .text {
    display: flex;
    align-items: center;
    margin-block: 2rem;
    h1 {
      margin: 0;
    }
    svg {
      width: 40px;
      margin-top: auto;
      fill: white;
      circle {
        fill: white;
      }
    }
  }
}
