@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.tour {
  max-width: 40vw;
  margin: 2rem auto;
  background: $clr-grey-0;
  border-radius: $radius;
  overflow: hidden;
  .content {
    padding: 1rem 1rem 0 1rem;
    p {
      padding-inline: 1rem;
    }
    h5 {
      text-align: right;
    }
  }
  .btnContainer {
    display: grid;
    place-items: center;
    button {
      margin: 1rem;
      margin-top: 0;
      padding: 0.25rem 0.5rem;
      background-color: transparent;
      outline: none;
      border: 2px solid $clr-red-dark;
      color: $clr-red-dark;
      border-radius: $radius;
    }
  }
}
